
body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

.section-container h1{
    font-size: 2.5em;
}

.section-container .message-error{
    color: red;
}

.section-container form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    background-color: #fff;
    padding: 10px;
}

.section-container form label{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    font-weight: bold;
}

.section-container form input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
}

.section-container form .btns{
    width: 100%;
}

.section-container form .btns button{
    width: 100px;
    padding: 10px;
    background-color: rgb(83, 83, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.section-container form .btns button:hover{
    background-color: blue;
}

.section-container .form-select-projeto{
    display: flex;
    flex-direction: column;
}

.section-container .form-select-projeto select{
    height: 35px;
    width: 27%;
}

.section-container .form-select-projeto button{
    width: 100px;
    background-color: rgb(83, 83, 255);
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 10px;
}


.section-container .form-select-projeto button:hover{
    background-color: blue;
}

/* ------------------------- */
.section-table{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
}

table{
    max-width: 100%;
    width: 100%;
    overflow: scroll;
}

table th{
    font-weight: 900;
    background-color: #333;
    color: #fff;
}

table th, table tr td{
    padding: 10px;
    text-align: center;
    padding-bottom: 20px;
}

table .tr-espaco td{
    border: none;
    height: 35px;
    background-color: #333;
    color: #fff;
}


@media screen and (max-width: 800px) {

    .section-container form{
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .section-container form label{
        width: 90%;
    }
    .section-container form input{
        width: 100%;
    }

    .section-container .form-select-projeto select{
        width: 90%;
    }

    .section-table{
        width: 100%;
        font-size: 0.8em;
    }

}